.header {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  h1 {
    margin: 0;
    font-size: clamp(1.8rem, 3vw, 2.6rem);
  }

  p {
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--accent);
    font-weight: 600;
    margin-bottom: 0.25rem;
  }
}

@media (max-width: 550px) {
  .header p {
    font-size: 1.8rem;
  }
}

@media (max-width: 420px) {
  .header p {
    font-size: 1.5rem;
  }
}